* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101012;
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding: 5rem;
}

.app .mainHeading h1 {
  text-align: center;
  color: darkgreen;
}

.app h1,
h2 {
  color: white;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items:center;
}

.app .input {
  margin-top: 0.8em;
  width: 25em;
  height: 3em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius:5px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -5px;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 25em;
  min-height:3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left:3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: grey;
  margin-bottom: 0px;
}
.app .todos .todo .right i{
  color: red;
}
#plus{
  color: green;
}
.underline{
  text-decoration: line-through;
}